.card {
  background-color:rgb(139, 173, 212);
  display: flex;
  flex-direction: row;
}

div {
  background-color:rgba(141, 191, 224, 0.507);
  width: 200px;

}

section {
  display: flex;
  background-color: rgba(20, 112, 187, 0.075);
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

p {
  color: royalblue;
}

body {
  background-color: lemonchiffon;
}

header {
  display: block;
  text-align: center;
  color: pink;
}

img {
  display: block;
  min-width: 300px;
  min-height: 225;
  max-width: 300px;
  max-height: 225px;
  text-align: center;
}

h1 {
  text-align: center;
  color: rgba(2, 56, 70, 0.849);
}

main {
  margin-left: 250px;
  margin-right: 250px;
}

nav {
  text-align: center;
}

footer {
  margin-left: 500px;
  margin-right: 500px;
  text-align: center;

}

h2 {
  color:royalblue;
}

nav a {
  color: black;
}

li {
  color: rgb(6, 41, 105);
}
